.captcha-base {
	margin: 5px 0;
}
.captcha-base__reset {
	margin-bottom: 5px;
	background-color: #4c45e4;
	color: #ffffff;
	font-weight: bold;
	font-size: 19px;
	border: none;
	cursor: pointer;
	padding: 2px 7px;
}
.captcha-base__input {
	margin-bottom: 5px;
	height: 30px;
	padding: 0 10px;
}